files:
    "/etc/php.d/memory.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            upload_max_filesize = 250M
            post_max_size = 251M
    "/etc/php.d/mysql.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            mysql.allow_persistent = 0
            